@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

.question {
  font-family: "Space Grotesk";
  font-size: 1.5em;
  color: #11706c;
}

.answer {
  font-family: "Space Grotesk";
  font-size: 1.5em;
}

.replies {
  width: 40%;
}

@media only screen and (max-width: 450px) {
  .question {
    font-family: "Space Grotesk";
    font-size: 1em;

    text-align: center;
    color: #11706c;
  }

  .answer {
    font-family: "Space Grotesk";
    font-size: 0.8em;
  }

  .replies {
    width: 90%;
  }
}
